<div class="card col-xs-12 col-md-12 card" style="padding: 15px;">
  <div class="row" style="padding: 15px;">
      <div class="col-md-2">
          <div class="form-group">
            <label for="txtStatus" style="font-size: initial;"
              >Date of Interview:</label
            >
          </div>
        </div>

        <div class="col-md-2" style="margin-top: -0.4%;">
          <mat-form-field appearance="outline" style="margin-bottom: -3%;">
            <input
            matInput
            [matDatepicker]="dateFilter"
            (dateInput)="addEvent($event.target.value, $event)"
            #dateofInterview="ngModel"
            [(ngModel)]="interviewObj.dateofInterview"
            placeholder="Choose a date"
            name="dateofInterview"
            readonly
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateFilter"
          ></mat-datepicker-toggle>
          <mat-datepicker #dateFilter></mat-datepicker>
          </mat-form-field>
          <div
            *ngIf="
              dateofInterview.invalid &&
              (dateofInterview.dirty || dateofInterview.touched)
            "
            class="messages text-danger"
          >
            <span>
              Date of Interview is required.
            </span>
          </div>
        </div>
  </div>
</div>
<div class="card col-xs-12 col-md-12 card" style="padding: 15px;">
  <form name="form" (ngSubmit)="onSaveButton(); f.reset()" #f="ngForm">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label for="txtintervieweeName" style="font-size: initial;"
            >Interviewee Name:</label
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            #candidateName="ngModel"
            [(ngModel)]="interviewObj.candidateName"
            name="intervieweeName"
            id="intervieweeName"
            placeholder="Enter Interviewee Name"
            required
            style="border-color: #c0ddff;"
          />
          <div
            *ngIf="
              candidateName.invalid &&
              (candidateName.dirty || candidateName.touched)
            "
            class="messages text-danger"
          >
            <span>
              Interviewee Name is required.
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="txtInterviewerName" style="font-size: initial;"
            >Interviewer Name:</label
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-select
              [formControl]="userCtrl"
              placeholder="Enter Interviewer Name"
              name="contactPerson"
              id="contactPerson"
              #contactPerson
              panelClass="my-select-panel-class"
              [(ngModel)]="interviewObj.contactPerson"
            >
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="userFilterCtrl"
                  placeholder="Search"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let user of filteredUsers | async"
                [value]="user.DisplayName"
              >
                {{ user.DisplayName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-2">
        <div class="form-group">
          <label for="txtMobileNumber" style="font-size: initial;"
            >Mobile Number:</label
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="interviewObj.mobileNo"
            name="txtMobileNumber"
            #mobNumber="ngModel"
            id="txtMobileNumber"
            maxlength="10"
            placeholder="Enter Mobile Number"
            [pattern]="'^((\\+91-?)|0)?[0-9]{10}$'"
            style="border-color: #c0ddff;"
            required
          />
          <div
            *ngIf="mobNumber.errors && (mobNumber.dirty || mobNumber.touched)"
            [ngClass]="'messages text-danger'"
          >
            <div *ngIf="mobNumber.errors.pattern">
              Mobile number not valid.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <input
        type="submit"
        id="save"
        value="Save"
        [disabled]="!f.form.valid"
        (click)="contactPerson.value = ''"
        class="btn btn-primary btn-elevate"
        style="width: 200px; height: 35px; float: right;"
      />
    </div>
  </form>
</div>

<div class="card">
  <div class="row">
    <div class="col-md-2 offset-md-6">
    </div>
    <div class="col-md-2">
      <mat-form-field appearance="outline" class="searchText">
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Search..."
          #filterName
        />
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <button
        (click)="filterName.value = ''"
        (click)="clearFilters()"
        style="margin-top: 2%; width: 80%;"
        class="btn btn-primary btn-elevate"
      >
        Clear
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="contactPerson">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Interviewer Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.contactPerson }}</td>
    </ng-container>

    <ng-container matColumnDef="candidateName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Interviewee Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.candidateName }}</td>
    </ng-container>

    <ng-container matColumnDef="dateofInterview">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Date of Interview
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateofInterview | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="mobileNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Mobile Number
      </th>
      <td mat-cell *matCellDef="let element">{{ element.mobileNo }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <!-- <i class="material-icons" style="cursor: pointer;" (click)="openDialog(element)">mode_edit</i> -->
        <i
          class="material-icons"
          style="cursor: pointer; color: #4099ff; margin-right: 10%;"
          title="Edit"
          (click)="
            openDialog(
              i,
              element.interviewId,
              element.candidateName,
              element.contactPerson,
              element.dateofInterview,
              element.mobileNo
            )
          "
          >mode_edit</i
        >
        <i
          class="material-icons"
          title="Delete"
          style="cursor: pointer; color: #FF5370;"
          (click)="confirmDeleteDialog(element.interviewId)"
          >delete</i
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="false"
  >
  </mat-paginator>
</div>
